@import "variables.less";
body {
  font-family: 'Pontano Sans', sans-serif;
  background-color: @color-background;
  color: @color-primary;
  p {
    font-size: 16px;
  }
  .container {
    background-color: white;
    padding: 0;
    #nav, footer {
      background-color: @color-secondary;
      font-size: 20px;
      ul {
        li {
          list-style-type: none;
          display: inline-flex;
          padding: 15px;
          a {
            color: white;
          }
          a:hover {
            color: @color-text;
            text-decoration: none;
          }
          .active {
            color: @color-primary;
          }
        }
      }
    }
    footer {
      background-color: @color-footer;
      margin-top: 4%;
      ul {
        padding-left: 0;
        a {
          i {
            color: white;
          }
          i:hover {
            color: @color-text;
          }
        }
      }
      a {
        color: white;
        font-size: 14px;
      }
    }
  }
}
.cursive {
  font-family: 'Great Vibes', cursive;
}
.center {
  display: block;
  margin: auto;
  text-align: center;
}
.zero {
  margin: 15px 0;
}

