@import "variables.less";
body {
  font-family: 'Pontano Sans', sans-serif !important;
  background-color: @color-background !important;
  color: @color-primary !important;
  p {
    font-size: 16px !important;
    @media(max-width: @screen-sm-max){
      padding: auto 15px auto 30px;
    }
  }
  .container {
    background-color: white;
    padding: 0;
    #nav {
      background-color: @color-secondary;
      font-size: 20px;
      ul {
        li {
          list-style-type: none;
          display: inline-flex;
          a {
            color: #8a8a8a;
            font-size: 22px;
            padding: 15px;
          }
          &.active {
            background-color: white;
            a {
              color: @color-text;
              text-decoration: none;
            }
          }
        }
        li:hover {
          background-color: white;
          cursor: pointer;
          a {
            color: @color-text;
            text-decoration: none;
          }
        }
      }
    }
    footer {
      background-color: @color-footer;
      font-size: 20px;
      ul {
        padding-left: 0;
        li{
          padding-bottom: 10px;
          list-style-type: none;
          display: inline-flex;
          a {
            padding: 15px;
            i {
              color: white;
            }
            i:hover {
              color: @color-text;
            }
          }
        }
      }
    }
    #mysite {
      background-color: @color-background;
      padding: 10px 0;
      a {
        color: @color-text;
        font-size: 14px;
      }
    }
  }
}
.cursive {
  font-family: 'Great Vibes', cursive;
}
.serif {
  font-family: 'Arapey', serif;
}
.center {
  display: block;
  margin: auto;
  text-align: center;
}
.underline {
  background-image: url("../img/underline.png");
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  width: 50%;
  @media(max-width: @screen-xs-max){
    width: 100%;
  }
}
.top-decor {
  background-image: url("../img/top-decor.png");
  height: 80px;
  background-size: contain;
  background-repeat: no-repeat;
  width: 70%;
  @media(max-width: @screen-sm-max){
    width: 100%;
  }
}
.zag {
  background-image: url("../img/zag.png");
  height: 40px;
  background-size: contain;
  background-repeat: no-repeat;
}
.right-arrow {
  background-image: url("../img/right_arrow.png");
  height: 30px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 15px;
}
.zero {
  margin: 15px 0;
}
#details, #contact, #photos, .homepage {
  padding-bottom: 30px;
}

