.homepage {
  .main-img {
    background-image: url('https://github.com/ebdabbs/soon-2b-salita/blob/gh-pages/img/IMG_0203.JPG?raw=true');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 16% 0 16% 0;
    margin: -10px auto 0 0;
  }
  #title {
    font-size: 600%;
    margin-top: 4%;
    color: @color-text;
  }
  #hashtag {
    color: white;
    font-weight: normal;
  }
  .buttons {
    margin-top: 2%;
    .link-button {
      border-radius: 5px;
      border: solid 2px white;
      display: inline-flex;
      margin: 5px;
      background-color: rgba(21,176,140,0.7);
      a {
        color: white;
        padding: 10px 15px;
      }
      a:hover {
        color: white;
        text-decoration: none;
      }
    }
    .link-button:hover {
      background-color: rgba(21,176,140,0.9);
    }
    .inactive {
      background-color: rgba(21,176,140,0.3);
      border-radius: 5px;
      border: solid 2px white;
      display: inline-flex;
      margin: 5px;
      cursor: not-allowed;
      h4 {
        color: white;
        padding: 10px 15px;
      }
    }
  }
}