@import "variables.less";
.homepage {
  .main-img {
    background-image: url('../img/IMG_4564.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 6% 0 30% 0;
    margin: -10px auto 0 0;
  }
  #title {
    font-size: 600%;
    margin-top: 4%;
    color: @color-text;
  }
  #hashtag {
    color: white;
    text-align: left;
    padding-left: 2%;
    float: left;
    font-size: 38px;
    font-family: 'Indie Flower', cursive;
  }
  #hashtag:hover {
    text-decoration: none !important;
  }
  .buttons {
    margin-top: 2%;
    .link-button {
      border-radius: 5px;
      border: solid 2px white;
      display: inline-flex;
      margin: 5px;
      background-color: rgba(21,176,140,0.7);
      a {
        color: white;
        padding: 10px 15px;
      }
      a:hover {
        color: white;
        text-decoration: none;
      }
    }
    .link-button:hover {
      background-color: rgba(21,176,140,0.9);
    }
    .inactive {
      background-color: rgba(21,176,140,0.3);
      border-radius: 5px;
      border: solid 2px white;
      display: inline-flex;
      margin: 5px;
      cursor: not-allowed;
      h4 {
        color: white;
        padding: 10px 15px;
      }
    }
  }
  @media (max-width: @screen-sm-max) {
    .main-img{
      margin-top: 0;
      padding: 18% 0 25% 0;
    }
    #hashtag{
      display: none;
    }
    #title {
      font-size: 300%;
    }
    .buttons {
      .link-button {
        display: block;
        width: 50%;
        margin: 10px auto;
      }
    }
  }
  @media (max-width: @screen-xs-max) {
    .main-img{
      margin-top: 0;
      padding: 18% 0 25% 0;
    }
    #hashtag{
      display: none;
    }
    #title {
      font-size: 300%;
    }
    .buttons {
      .link-button {
        display: block;
        width: 75%;
        margin: 10px auto;
      }
    }
  }
  @media screen and (max-width: @screen-sm-max) {
    margin-top: 65px;
  }
}