@import "variables.less";
#bridal-party {
  padding-bottom: 30px;
  h1 {
    margin-top: 25px;
    margin-bottom: 30px;
  }
  .party {
    margin: 0;
  }
  .bridal-photo {
    height: auto;
    width: 100%;
    background-color: @color-secondary;
    border-radius: 50%;
    margin: 15px;
  }
  .bridal-photo:before{
    content: "";
    display: block;
    padding-top: 100%; 	/*  ratio of 1:1*/
  }
  h2 {
    color: @color-text;
    font-weight: lighter;
    font-family: 'Arapey', serif;
  }
  h3 {
    color: @color-accent;
    text-transform: uppercase;
    font-weight: lighter;
    margin-top: 10px;
    font-size: 20px;
    letter-spacing: 1px;
  }
  h4 {
    color: @color-primary;
    font-weight: bold;
    font-family: 'Arapey', serif;
    font-size: 20px;
  }
  .left {
    padding-left: 15px;
  }
  .right {
    padding-right: 15px;
  }
  #last-row {
    background-color: @color-accent;
    #allyson {
      background-color: white;
    }
    #love {
      #love-text{
        font-family: 'Indie Flower', cursive;
        color: white;
        padding: 15% 0 0 0;
        text-align: center;
        width: 90%;
        margin: auto;
        font-size: 30px;
        @media (max-width: @screen-sm-max) {
          padding-top: 2%;
        }
      }
    }
  }

  @media (max-width: @screen-sm-max) {
    .left {
      padding: 0 15px;
    }
    .right {
      padding: 0 15px;
    }
  }
}