@import "variables.less";
#bridal-party {
  padding-bottom: 30px;
  h1 {
    margin-top: 25px;
    margin-bottom: 30px;
  }
  .party {
    margin: 0;
  }
  .bridal-photo {
    height: auto;
    width: 100%;
    background-color: @color-secondary;
    border-radius: 50%;
    margin: 15px;
    background-size: cover;
  }
  .bridal-photo:before{
    content: "";
    display: block;
    padding-top: 100%; 	/*  ratio of 1:1*/
  }
  h2 {
    color: @color-text;
    font-weight: lighter;
    font-family: 'Arapey', serif;
  }
  h3 {
    color: @color-accent;
    text-transform: uppercase;
    font-weight: lighter;
    margin-top: 10px;
    font-size: 20px;
    letter-spacing: 1px;
  }
  h4 {
    color: @color-primary;
    font-weight: bold;
    font-family: 'Arapey', serif;
    font-size: 20px;
  }
  .left {
    padding-left: 15px;
  }
  .right {
    padding-right: 15px;
  }
  #sydney {
    .bridal-photo {
      background: url("../img/bridal_party/sydney.jpg") no-repeat center;
      background-size: cover;
    }
  }
  #emily {
    .bridal-photo {
      background: url("../img/bridal_party/emily2.jpg") no-repeat center;
      background-size: cover;
    }
  }
  #thomas {
    .bridal-photo {
      background: url("../img/bridal_party/thomas.jpg") no-repeat center;
      background-size: cover;
    }
  }
  #andy {
    .bridal-photo {
      background: url("../img/bridal_party/andy.jpg") no-repeat center;
      background-size: cover;
    }
  }
  #skyler {
    .bridal-photo {
      background: url("../img/bridal_party/skyler.jpg") no-repeat center;
      background-size: cover;
    }
  }
  #max {
    .bridal-photo {
      background: url("../img/bridal_party/max.jpg") no-repeat center;
      background-size: cover;
    }
  }
  #chris {
    .bridal-photo {
      background: url("../img/bridal_party/chris.jpg") no-repeat center;
      background-size: cover;
    }
  }
  #cody {
    .bridal-photo {
      background: url("../img/bridal_party/cody.jpg") no-repeat center;
      background-size: cover;
    }
  }
  #maddie {
    .bridal-photo {
      background: url("../img/bridal_party/maddie2.jpg") no-repeat center;
      background-size: cover;
    }
  }
  #meredith {
    .bridal-photo {
      background: url("../img/bridal_party/meredith.jpg") no-repeat center;
      background-size: cover;
    }
  }
  #helen {
    .bridal-photo {
      background: url("../img/bridal_party/helen2.jpg") no-repeat center;
      background-size: cover;
    }
  }
  #amy {
    .bridal-photo {
      background: url("../img/bridal_party/amy.jpg") no-repeat center;
      background-size: cover;
    }
  }
  #last-row {
    //background-color: @color-accent;
    #allyson {
      background-color: white;
      .bridal-photo {
        background: url("../img/bridal_party/allyson.jpg") no-repeat center;
        background-size: cover;
      }
    }
    #love {
      background: url("../img/palm_tree.jpg") no-repeat;
      background-size: cover;
      #love-text{
        font-family: 'Indie Flower', cursive;
        color: white;
        padding: 15% 0 13% 0;
        text-shadow: 1px 1px #444444;
        height: 100%;
        text-align: center;
        width: 90%;
        margin: auto;
        font-size: 45px;
        @media (max-width: @screen-sm-max) {
          padding-top: 2%;
        }
      }
    }
  }

  @media (max-width: @screen-sm-max) {
    .left {
      padding: 0 15px;
    }
    .right {
      padding: 0 15px;
    }
  }
  @media screen and (max-width: @screen-sm-max) {
    margin-top: 65px;
  }
}