@import "variables.less";
#photos {
  #myCarousel {
    img {
      object-fit: contain;
      margin: auto;
      height: 500px;
      width: 100%;
      @media (max-width: @screen-sm-max) {
        height: 300px;
      }
    }
  }
}