#registry {
  #registry-img {
    background: url("../img/covers/kissing_ocean.jpg") no-repeat center top;
    height: 400px;
    background-size: cover;
    margin-top: -20px;
  }
  h2 {
    padding: 15px;
  }
  @media screen and (max-width: @screen-sm-max) {
    margin-top: 65px;
  }
}