@import "variables.less";
#our-story {
  p {
    margin: 10px 0;
  }
  .main-img {
    background-size: cover;
    background-repeat: no-repeat;
    margin: -10px auto 0 0;
    background-position: center;
    .img-responsive;
    #overlap {
      color: @color-background;
      font-size: 50px;
      padding: 0 15px;
      text-align: right;
      font-weight: bold;
    }
  }
  @media(max-width: @screen-sm-max) {
    .main-img {
      background-size: contain;
      background-position: top;
      #overlap {
        text-align: left;
        padding-top: 10%;
      }
    }
  }
  #top {
    background-image: url('../img/our-story2.png');
    margin-bottom: 20px;
    padding: 18% 0 0 0;
  }
  #bottom {
    background-image: url('../img/our-story3.png');
    margin-top: 20px;
    padding: 25% 0 0 0;
  }
  .heading {
    .make-sm-column(3);
    h4 {
      color: @color-secondary;
      font-size: 40px;
      font-weight: bold;
      text-transform: uppercase;
      text-align: right;
    }
    .divider {
      margin-top: 26px;
      //margin-bottom: 36px;
      width: 140px;
      height: 1px;
      border-bottom: solid 4px @color-background;
      padding: 0;
      float: right;
    }
  }
  .paragraph {
    .make-sm-column(9);
    padding-right: 30px;
    font-size: 22px;
  }
  //.text-col {
  //  .make-md-column(9);
  //  .make-sm-column(8);
  //}
  //.pic-col {
  //  .make-md-column(3);
  //  .make-sm-column(4);
  //  .story-pic {
  //    padding: 10px;
  //    height: 250px;
  //    width: 100%;
  //    background-color: @color-secondary;
  //    border-radius: 50%;
  //    background-size: cover;
  //    background-repeat: no-repeat;
  //    max-width: 250px;
  //    margin: auto;
  //  }
  //  @media(max-width: @screen-sm-max) {
  //    .story-pic {
  //      width: 200px;
  //      height: 200px;
  //    }
  //  }
  //}
  //
  //#homecoming {
  //  background-image: url('../img/homecoming.jpg');
  //}
  //#graduation {
  //  background-image: url('../img/graduation.jpg');
  //}
  //#nerds {
  //  background-image: url('../img/nerds.JPG');
  //}
  //#wpb {
  //  background-image: url('../img/wbp.jpg');
  //}
  //#ring {
  //  background-image: url('../img/ring.JPG');
  //}
  //#friends {
  //  background-image: url('../img/friends.jpg');
  //}
  //#family {
  //  background-image: url('../img/family.jpg');
  //}

}