@import "../bower_components/bootstrap/less/bootstrap.less";
@import url(https://fonts.googleapis.com/css?family=Pontano+Sans|Great+Vibes);
@import url(https://fonts.googleapis.com/css?family=Indie+Flower);
@import url(https://fonts.googleapis.com/css?family=Arapey);

// Colors
@color-background: #F0E4F8;
//@color-secondary: #A7F1CA;
//@color-secondary: #a7f3c1;
@color-secondary: #a9f4c1;
@color-primary: #802fb6;
@color-accent: #15b08c;
@color-footer: #C3B4FA;
@color-text: #A559BA;

@blooms-mint: #D1E8E8;
@blooms-teal: #618D91;
@blooms-blue: #7687b7;
@blooms-lavender: #bfc0db;
@blooms-green: #a1cfb1;
@blooms-pale: #e8edf4;
@blooms-dark: #655e97;
@blooms-seafoam: #8dcac4;
@blooms-gray: #c2cfd8;
