@import "../bower_components/bootstrap/less/bootstrap.less";
@import url(https://fonts.googleapis.com/css?family=Pontano+Sans|Great+Vibes);
@import url(https://fonts.googleapis.com/css?family=Indie+Flower);
@import url(https://fonts.googleapis.com/css?family=Arapey);

// Colors
//@color-background: #F0E4F8;
//@color-secondary: #a9f4c1;
//@color-primary: #802fb6;
//@color-accent: #15b08c;
//@color-footer: #C3B4FA;
//@color-text: #A559BA;
//#EBD2FC

@color-background: #EBD2FC;
@color-secondary: @color-1;
@color-primary: @color-5shd;
@color-accent: @color-2tn;
@color-footer: @color-5;
@color-text: @color-6;

@color-1: #a9f4c1;
@color-2: #a9f4e6;
@color-2tn: #A4E5D9;
@color-3: #a9dcf4;
@color-3tint: #F4FBFE;
@color-4: #a9b6f4;
@color-5: #c1a9f4;
@color-5shd: #917FB7;
@color-6: #e7a9f4;

@blooms-mint: #D1E8E8;
@blooms-teal: #618D91;
@blooms-blue: #7687b7;
@blooms-lavender: #bfc0db;
@blooms-green: #a1cfb1;
@blooms-pale: #e8edf4;
@blooms-dark: #655e97;
@blooms-seafoam: #8dcac4;
@blooms-gray: #c2cfd8;
