<footer>
    <ul class="center">
        <li><a href="https://github.com/ebdabbs/soon-2b-salita" title="Site Repo">
            <i class="fa fa-github fa-3x"></i></a></li>
        <li><a href="http://tgb.io/signedSealedSalita/273007" title="Tagboard">
            <i class="fa fa-tags fa-3x"></i></a></li>
        <li><a href="{{ site.baseurl }}/contact" title="Contact Us">
            <i class="fa fa-envelope fa-3x"></i></a></li>
    </ul>
    <div class="center"><a href="http://elizabethdabbs.com">Site Built by the Bride</a></div>
</footer>