<div class="nav-primary" id="nav" role="navigation" >
    <ul>
        <li class="nav-home">
        <a href="/">Home</a>
        </li>
        <li class="nav-details">
            <a href="/details">The Big Day</a>
        </li>
        <li class="nav-story" >
            <a href="/our-story">Our Story</a>
        </li>
        <li class="nav-party" >
            <a href="/bridal-party">Bridal Party</a>
        </li>
        <li class="nav-photos">
            <a href="/photos">Photos</a>
        </li>
    </ul>
</div>

<div class="nav-primary" id="mobile-nav">
    <div id="hashtag-mobile">
        #signedSealedSalita
    </div>
    <div class="menu-button" id="open-menu">
        <i class="fa fa-bars" aria-hidden="true"></i>
    </div>
    <div class="menu-button" id="close-menu">
        <i class="fa fa-times" aria-hidden="true"></i>
    </div>
</div>

<div id="overlay">
    <ul>
        <li class="nav-home">
            <a href="/">Home</a>
        </li>
        <li class="nav-details">
            <a href="/details">The Big Day</a>
        </li>
        <li class="nav-story" >
            <a href="/our-story">Our Story</a>
        </li>
        <li class="nav-party" >
            <a href="/bridal-party">Bridal Party</a>
        </li>
        <li class="nav-photos">
            <a href="/photos">Photos</a>
        </li>
        <li>
            <a href="/contact">Contact</a>
        </li>
    </ul>
</div>