<div class="nav-primary" id="nav" role="navigation" >
    <ul>
        <li id="nav-home">
        <a href="/">Home</a>
        </li>
        <li id="nav-details">
            <a href="/details">The Big Day</a>
        </li>
        <li id="nav-story" >
            <a href="/our-story">Our Story</a>
        </li>
        <li id="nav-party" >
            <a href="/bridal-party">Bridal Party</a>
        </li>
        <li id="nav-photos">
            <a href="/photos">Photos</a>
        </li>
    </ul>
</div>