<div class="nav-primary" id="nav" role="navigation" >
    <ul>
        <li>
        <a href="{{ site.baseurl }}/">Home</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/details">The Big Day</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/our-story">Our Story</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/bridal-party">Bridal Party</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/photos">Photos</a>
        </li>
    </ul>
</div>